* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: solid 1px #2b3fad;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: #429fdd;
}

.contenedor_pomodoro {
    display: flex;
    padding: 10px;
    width: 50%;
    flex-direction: column;
    border: 1px solid rgb(142, 78, 203);
    border-radius: 15px;
    background-color: cornflowerblue;
    box-shadow: #2b3fad;
}