*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --main: #D93636;
  --secundary: #D93240;
  --white: #fff;
  --card-background: #f2f2f0;
  --text: #403f37;
  --container: #BFBFBF;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--text)
}
